**/*.log
bastion_ssh_*.sh
bastion_tunnel_*.sh
*_bicepdeploy-*.json
*id_rsa*
mysql_admin_pwd.txt
ansible/inventory.json
ansible/group_vars
ansible/templates/ssh_jumphost_vars.json
miniconda
bicep/*_tags.json
