{
          "Environment": "public",
          "AzureRMUseManagedIdentity": true,
          "AzureResourceGroup": "{{resourceGroup}}",
          "AzureRMApplicationId": " ",
          "AzureRMApplicationSecret": " ",
          "AzureRMSubscriptionId": "{{subscriptionId}}",
          "AzureRMTenantId": "{{tenantId}}",
          "DefaultAccount": true,
          "Location": "{{region}}",
          "Name": "{{subscriptionName}}",
          "Provider": "azure",
          "ProviderId": "{{subscriptionId}}",
          "RMStorageAccount": "{{lockerAccountName}}",
          "RMStorageContainer": "cyclecloud",
          "AcceptMarketplaceTerms": true
        }
