{
  "Environment": "public",
  "AzureRMUseManagedIdentity": true,
  "AzureResourceGroup": "{{resourceGroup}}",
  "AzureRMSubscriptionId": "{{subscriptionId}}",
  "DefaultAccount": true,
  "Location": "{{region}}",
  "Name": "{{subscriptionName}}",
  "Provider": "azure",
  "RMStorageAccount": "{{lockerAccountName}}",
  "RMStorageContainer": "cyclecloud",
  "AcceptMarketplaceTerms": true
}
