{
  "Region" : "{{region}}",
  "Credentials" : "{{subscriptionName}}",
  "SubnetId" : "{{resourceGroup}}/{{vnetName}}/{{clusterSubnetName}}",
  "UsePublicNetwork" : false,
  "ExecuteNodesPublic" : false,
  "EnableAccelNet" : true,
  "NodeNameIsHostname" : true,
  "NodeNamePrefix" : "Cluster Prefix",
  "ReturnProxy" : false,
  "SchedulerMachineType" : "Standard_D8s_v4",
  "SchedulerImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2023111801",
  "SchedulerHostName" : "Cluster Prefix",
  "SchedulerClusterInitSpecs" : {},
  "NFSSchedDisable" : false,
  "slurm" : null,
  "configuration_slurm_version" : "23.02.7-1",
  "configuration_slurm_ha_enabled" : false,
  "configuration_slurm_shutdown_policy" : "Terminate",
  "configuration_slurm_accounting_enabled" : true,
  "configuration_slurm_accounting_url" : "{{mySqlFqdn}}",
  "configuration_slurm_accounting_user" : "{{mySqlUser}}",
  "configuration_slurm_accounting_password" : "{{mySqlPwd}}",
  "additional_slurm_config" : "SuspendTime=-1",
  "SchedulerClusterInitSpecs" : {
    "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "install_pmix:default:1.0.0" : {
      "Order" : 10100,
      "Spec" : "default",
      "Name" : "install_pmix:default:1.0.0",
      "Project" : "install_pmix",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "fix_ndv5_gres:default:1.0.0" : {
      "Order" : 10200,
      "Spec" : "default",
      "Name" : "fix_ndv5_gres:default:1.0.0",
      "Project" : "fix_ndv5_gres",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "cc_slurm_nhc:default:1.0.0" : {
      "Order" : 10300,
      "Spec" : "default",
      "Name" : "cc_slurm_nhc:default:1.0.0",
      "Project" : "cc_slurm_nhc",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "fix_accounting_storage_host:default:1.0.0" : {
      "Order" : 10400,
      "Spec" : "default",
      "Name" : "fix_accounting_storage_host:default:1.0.0",
      "Project" : "fix_accounting_storage_host",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "prometheus_exporters:default:1.0.0" : {
      "Order" : 10500,
      "Spec" : "default",
      "Name" : "prometheus_exporters:default:1.0.0",
      "Project" : "prometheus_exporters",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "install_codecli:default:1.0.0" : {
      "Order" : 10600,
      "Spec" : "default",
      "Name" : "install_codecli:default:1.0.0",
      "Project" : "install_codecli",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    "fix_slurm_memory_dampen:default:1.0.0" : {
      "Order" : 10700,
      "Spec" : "default",
      "Name" : "fix_slurm_memory_dampen:default:1.0.0",
      "Project" : "fix_slurm_memory_dampen",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "NumberLoginNodes" : 3,
  "loginMachineType" : "Standard_D8s_v4",
  "loginImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2023111801",
  "LoginClusterInitSpecs": {
    "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "prometheus_exporters:default:1.0.0" : {
      "Order" : 10100,
      "Spec" : "default",
      "Name" : "prometheus_exporters:default:1.0.0",
      "Project" : "prometheus_exporters",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "install_codecli:default:1.0.0" : {
      "Order" : 10600,
      "Spec" : "default",
      "Name" : "install_codecli:default:1.0.0",
      "Project" : "install_codecli",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "HPCImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2023111801",
  "HPCMachineType" : "{{ hpcSku }}",
  "MaxHPCExecuteCoreCount" : 192,
  "HPCMaxScalesetSize" : 100,
  "HPCOverprovision" : false,
  "HPCMemoryDampen" : {{ 8 if "A100_v4" in hpcSku else 0 }},
  "HPCClusterInitSpecs" : {
    "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "misc_config_nd:default:1.0.0" : {
      "Order" : 10100,
      "Spec" : "default",
      "Name" : "misc_config_nd:default:1.0.0",
      "Project" : "misc_config_nd",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "install_pmix:default:1.0.0" : {
      "Order" : 10200,
      "Spec" : "default",
      "Name" : "install_pmix:default:1.0.0",
      "Project" : "install_pmix",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "cc_slurm_nhc:default:1.0.0" : {
      "Order" : 10300,
      "Spec" : "default",
      "Name" : "cc_slurm_nhc:default:1.0.0",
      "Project" : "cc_slurm_nhc",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "prometheus_exporters:default:1.0.0" : {
      "Order" : 10400,
      "Spec" : "default",
      "Name" : "prometheus_exporters:default:1.0.0",
      "Project" : "prometheus_exporters",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "HTCImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2023111801",
  "HTCMachineType" : "Standard_F2s_v2",
  "MaxHTCExecuteCoreCount" : 20,
  "HTCUseLowPrio" : false,
  "HTCSpotMaxPrice" : null,
  "HTCMemoryDampen" : 0,
  "HTCUsePcpu" : false,
  "HTCClusterInitSpecs" : {
      "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "install_pmix:default:1.0.0" : {
      "Order" : 10100,
      "Spec" : "default",
      "Name" : "install_pmix:default:1.0.0",
      "Project" : "install_pmix",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "NFSAddress" : "{{anfSharedIP}}",
  "NFSType" : "External",
  "NFSSharedExportPath" : "/shared",
  "NFSSharedMountOptions" : "rw,hard,rsize=262144,wsize=262144,nconnect=8,sec=sys,vers=4.1,tcp",
  "About shared" : null,
  "AdditionalNAS" : false
}
