{
  "Region" : "{{region}}",
  "Credentials" : "{{subscriptionName}}",
  "SubnetId" : "{{resourceGroup}}/{{vnetName}}/{{clusterSubnetName}}",
  "UsePublicNetwork" : false,
  "ExecuteNodesPublic" : false,
  "EnableAccelNet" : true,
  "NodeNameIsHostname" : true,
  "NodeNamePrefix" : "Cluster Prefix",
  "ReturnProxy" : false,
  "SchedulerMachineType" : "Standard_D8ads_v5",
  "SchedulerImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2024102301",
  "SchedulerHostName" : "Cluster Prefix",
  "SchedulerClusterInitSpecs" : {},
  "NFSSchedDisable" : false,
  "slurm" : null,
  "configuration_slurm_version" : "23.11.7-1",
  "configuration_slurm_ha_enabled" : false,
  "configuration_slurm_shutdown_policy" : "Terminate",
  "configuration_slurm_accounting_enabled" : false,
  "additional_slurm_config" : "SuspendTime=-1",
  "SchedulerClusterInitSpecs" : {
    "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "cc_slurm_nhc:default:1.0.0" : {
      "Order" : 10100,
      "Spec" : "default",
      "Name" : "cc_slurm_nhc:default:1.0.0",
      "Project" : "cc_slurm_nhc",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "prometheus_exporters:default:1.0.0" : {
      "Order" : 10200,
      "Spec" : "default",
      "Name" : "prometheus_exporters:default:1.0.0",
      "Project" : "prometheus_exporters",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "install_codecli:default:1.0.0" : {
      "Order" : 10300,
      "Spec" : "default",
      "Name" : "install_codecli:default:1.0.0",
      "Project" : "install_codecli",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "NumberLoginNodes" : 3,
  "loginMachineType" : "Standard_D8ads_v5",
  "loginImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2024102301",
  "LoginClusterInitSpecs": {
    "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "prometheus_exporters:default:1.0.0" : {
      "Order" : 10100,
      "Spec" : "default",
      "Name" : "prometheus_exporters:default:1.0.0",
      "Project" : "prometheus_exporters",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "install_codecli:default:1.0.0" : {
      "Order" : 10200,
      "Spec" : "default",
      "Name" : "install_codecli:default:1.0.0",
      "Project" : "install_codecli",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "HPCImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2024102301",
  "HPCMachineType" : "{{ hpcSku }}",
  "MaxHPCExecuteCoreCount" : "{{ hpcMaxCoreCount }}",
  "HPCMaxScalesetSize" : "{{ hpcMaxNumVMs }}",
  "HPCOverprovision" : false,
  {% if "A100_v4" in hpcSku %}
"HPCMemoryDampen" : 2,
  {% elif "H100_v5" in hpcSku %}
"HPCMemoryDampen" : 2,
  {% endif %}
  "HPCClusterInitSpecs" : {
    "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "misc_config_nd:default:1.0.0" : {
      "Order" : 10100,
      "Spec" : "default",
      "Name" : "misc_config_nd:default:1.0.0",
      "Project" : "misc_config_nd",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "cc_slurm_nhc:default:1.0.0" : {
      "Order" : 10200,
      "Spec" : "default",
      "Name" : "cc_slurm_nhc:default:1.0.0",
      "Project" : "cc_slurm_nhc",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    },
    "prometheus_exporters:default:1.0.0" : {
      "Order" : 10300,
      "Spec" : "default",
      "Name" : "prometheus_exporters:default:1.0.0",
      "Project" : "prometheus_exporters",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "HTCImageName" : "microsoft-dsvm:ubuntu-hpc:2204:22.04.2024102301",
  "HTCMachineType" : "Standard_F2s_v2",
  "MaxHTCExecuteCoreCount" : 20,
  "HTCUseLowPrio" : false,
  "HTCSpotMaxPrice" : null,
  "HTCMemoryDampen" : 0,
  "HTCUsePcpu" : false,
  "HTCClusterInitSpecs" : {
      "cc_slurm_pyxis_enroot:default:1.0.0" : {
      "Order" : 10000,
      "Spec" : "default",
      "Name" : "cc_slurm_pyxis_enroot:default:1.0.0",
      "Project" : "cc_slurm_pyxis_enroot",
      "Locker" : "{{lockerName.stdout}}",
      "Version" : "1.0.0"
    }
  },
  "NFSAddress" : "{{anfSharedIP}}",
  "NFSType" : "External",
  "NFSSharedExportPath" : "/shared",
  "NFSSharedMountOptions" : "rw,hard,rsize=262144,wsize=262144,nconnect=8,sec=sys,vers=4.1,tcp",
  "About shared" : null,
  "AdditionalNAS" : false
}
