{
  "Region" : "{{region}}",
  "Credentials" : "{{subscriptionName}}",
  "SubnetId" : "{{resourceGroup}}/{{vnetName}}/{{clusterSubnetName}}",
  "UsePublicNetwork" : false,
  "ExecuteNodesPublic" : false,
  "EnableAccelNet" : true,
  "NodeNameIsHostname" : true,
  "NodeNamePrefix" : "Cluster Prefix",
  "ReturnProxy" : false,
  "SchedulerMachineType" : "Standard_D8as_v4",
  "SchedulerImageName" : "microsoft-dsvm:ubuntu-hpc:2004:20.04.2022121201",
  "SchedulerHostName" : "Cluster Prefix",
  "SchedulerClusterInitSpecs" : {},
  "Autoscale" : true,
  "NFSSchedDisable" : false,
  "slurm" : null,
  "configuration_slurm_version" : "23.02.6-1",
  "configuration_slurm_ha_enabled" : false,
  "configuration_slurm_shutdown_policy" : "Terminate",
  "configuration_slurm_accounting_enabled" : false,
  "NumberLoginNodes" : 0,
  "HPCImageName" : "microsoft-dsvm:ubuntu-hpc:2004:20.04.2022121201",
  "HPCMachineType" : "Standard_ND96amsr_A100_v4",
  "MaxHPCExecuteCoreCount" : 192,
  "HPCMaxScalesetSize" : 100,
  "HPCMemoryDampen": 8,
  "HPCClusterInitSpecs" : {},
  "HTCImageName" : "microsoft-dsvm:ubuntu-hpc:2004:20.04.2022121201",
  "HTCMachineType" : "Standard_F2s_v2",
  "MaxHTCExecuteCoreCount" : 20,
  "HTCUseLowPrio": false,
  "HTCSpotMaxPrice": null,
  "HTCMemoryDampen": 0,
  "HTCUsePcpu": false,
  "HTCClusterInitSpecs" : {},
  "NFSAddress" : "{{anfSharedIP}}",
  "NFSType" : "External",
  "NFSSharedExportPath" : "/shared",
  "NFSSharedMountOptions" : "rw,hard,rsize=262144,wsize=262144,nconnect=8,sec=sys,vers=4.1,tcp",
  "About shared" : null,
  "AdditionalNAS" : false
}
